.attachment-info .settings .setting[data-setting="alt"],
.attachment-info .settings .setting[data-setting="caption"],
.attachment-info .settings .setting[data-setting="alt"],
.attachment-info .settings .setting[data-setting="url"] {
    display: none;
}

.attachment-info .settings p.description {
    display: none;
}

.attachment-info .settings .setting span.name,
.attachment-info .settings .setting span.value {
    display: none;
}

.attachment-info p.media-types-required-info {
    display: none;
}

.attachment-info .actions {
    display: none;
}

.view-switch .view-list {
    display: none;
}

.column-order_status {
    display: none;
}

.column-shipping_address {
    display: none;
}

.column-fulfillment_status {
    display: none;
}

.wp-list-table .manage-column {
    width: 16.16%;
}

.wp-list-table .manage-column.check-column {
    width: 3%;
}

.wp-list-table .column-product_name {
    font-size: 0;
}

.wp-list-table .column-product_name .post-edit-link {
    font-size: 13px;
    line-height: 20px;
}

.wp-list-table .column-order_id a {
    pointer-events: none;
    color: inherit;
}

form#your-profile table .user-display-name-wrap {
    display: none;
}

form#your-profile .nsl-container {
    display: none;
}