.footer{
  border-top:1px solid #ccc;
  padding-top: 50px;
  &__logo{
  	font-size: pxToRem(18, 10);
    text-transform: uppercase;
  }
  &__social-icon{
    a{
      display: block;
      padding:0 pxToRem(10, 10);
      font-size: pxToRem(16, 10);
    }
  }
  &-widget{
    h4{
      margin-bottom: 25px;
    }
    ul{
      li{
        margin-bottom: 7px;
        a{
          color: inherit;
          &:hover{
            color: $primary;
          }
        }
      }
      &.category{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li{
          flex: 0 0 33.33%;
          max-width: 33.33%;
        }
      }
    }
  }
  &.dark{
      background-color: #000;
      color: rgba(255,255,255,.6);
      ul{
        li{
          a{
            color: rgba(255,255,255,.6);
            &:hover{
              color: $primary;
            }
          }
        }
      }
      .border-left{
        border-color: rgba(255,255,255,0.1) !important;
      }
  }
  &-bottom{
    border-top:1px solid rgba(255,255,255,0.1);
    padding: 15px 0;
    margin-top: 50px;
    font-size: 13px;
  }
}
