.lead{
	font-size: pxToRem(16, 10);
}
.small-font{
    font-size: $font-size-sm;
  }
  .bg-gray{
    background-color: $gray-200;
  }
  .facebook{
    background-color: #3b5998;
  }
  .twitter{
    background-color: #00aced;
  }
  .instagram{
    background-color: #C13584;
  }
  .google{
    background-color: #DB4437;
  }
  
  
  
  
  
  